.gradient{
    -fx-background-color: linear-gradient(to right, #ffffff, #00a6ff);
}
.text-field {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0.166667em 0.666667em 0.25em 0.666667em; /* Adjust padding as needed */
    -fx-text-fill: white; /* Set the text color to white */
    -fx-border-color: #ffffff;
    -fx-border-width: 0 0 1 0;
}

.text-field:hover {
    -fx-background-color: rgba(0, 0, 0, 0.3); /* Change background color on hover */
    -fx-border-color: #007bff;
}

.button {
    -fx-background-color: #007bff;
}

.button:hover {
    -fx-background-color: #003cff;
}
