.gradient{
    -fx-background-color: linear-gradient(rgba(0, 166, 255, 0.7), rgb(255, 255, 255));
}
.text-field {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0.166667em 0.666667em 0.25em 0.666667em; /* Adjust padding as needed */
    -fx-text-fill: #333333; /* Set the text color to white */
    -fx-border-color: rgba(255, 255, 255, 0.32);
    -fx-border-width: 0 0 1 0;
}

.text-field:hover {
    -fx-background-color: rgba(0, 0, 0, 0.3); /* Change background color on hover */
    -fx-border-color: #007bff;
}

.button {
    -fx-background-color: #007bff;
}

.button:hover {
    -fx-background-color: #003cff;
}
